/apps/{{ app_user }}/logs/*.log {
        daily
        rotate 14
        size 1M
        compress
        missingok
        notifempty
        dateext
        create 0664 {{ app_user }} {{ app_user }}
        sharedscripts
        postrotate
                invoke-rc.d nginx rotate >/dev/null 2>&1
        endscript
}
