# {{ ansible_managed }}
defaults
auth           {{ 'on' if msmtp_user and msmtp_password else 'off' }}
tls            {{ 'on' if msmtp_tls else 'off' }}
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account        mailrelay
host           {{ msmtp_host }}
port           {{ msmtp_port }}
from           {{ msmtp_from }}
user           {{ msmtp_user }}
password       {{ msmtp_password }}

account default : mailrelay
